{% extends 'base.html.twig' %}

{% block title %}Facturacion index{% endblock %}

{% block body %}
    <h1>Facturacion index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>IdFacturacion</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facturacion in facturacions %}
            <tr>
                <td>{{ facturacion.idFacturacion }}</td>
                <td>{{ facturacion.estado }}</td>
                <td>
                    <a href="{{ path('app_facturacion_show', {'idFacturacion': facturacion.idFacturacion}) }}">show</a>
                    <a href="{{ path('app_facturacion_edit', {'idFacturacion': facturacion.idFacturacion}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_facturacion_new') }}">Create new</a>
{% endblock %}
