{% extends 'base.html.twig' %}

{% block title %}Facturador index{% endblock %}

{% block body %}
    <h1>Facturador index</h1>
<div style="width: 90%;margin: auto; padding: 20px;">
        <table class="table">
            <thead style="border: 1px solid #000">
                <tr style="background-color: rgb(98, 45, 128); color: white; text-align: center;">
                <th>IdFacturador</th>
                <th>Usuario</th>
                <th>Estado</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for facturador in facturadors %}
            <tr>
                <td>{{ facturador.idFacturador }}</td>
                <td>{{ facturador.idUsuario.nombre }}</td>
                <td>{{ facturador.estado }}</td>
                <td>
                    <a href="{{ path('app_facturador_show', {'idFacturador': facturador.idFacturador}) }}">show</a>
                    <a href="{{ path('app_facturador_edit', {'idFacturador': facturador.idFacturador}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
    <a href="{{ path('app_facturador_new') }}">Create new</a>
{% endblock %}
